*,
*::after,
*::before {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: $color-grey-light;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}