h1 {
    font-size: 3.6rem;
    text-transform: uppercase;
    display: inline-block;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.8rem;
    }

    @include respond(phone-md) {
        font-size: 2rem;
    }

    @include respond(mini-phone) {
        font-size: 1.8rem;
    }
}

h2 {
    font-size: 1.8rem;
    color: $color-grey-light;

    @include respond(phone-horizontal) {
        font-size: 1.4rem;
    }
}

h3 {
    font-size: 2rem;

    @include respond(tab-land) {
        font-size: 1.8rem;
    }

    @include respond(tab-port) {
        font-size: 1.2rem;
    }

    @include respond(small-phone) {
        font-size: .5rem;
    }

    @include respond(phone) {
        font-size: .8rem;
    }
}