@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/loader";
@import "components/movie-details";
@import "components/movie-poster";
@import "components/searchbar";

@import "layout/error";
@import "layout/navigation";
@import "layout/footer";

@import "pages/home";