// 1em == 16px
@mixin respond($breakpoint) {
    @if $breakpoint == phone-horizontal-small {
        @media only screen and (max-height: 22.5em) { @content }; // 360px
    }

    @if $breakpoint == phone-horizontal {
        @media only screen and (max-height: 29.37em) { @content }; // round 470px
    }

    @if $breakpoint == mini-phone {
        @media only screen and (max-width: 21.875em) { @content }; // 350px
    }

    @if $breakpoint == small-phone {
        @media only screen and (max-width: 22.5em) { @content }; // 360px
    }

    @if $breakpoint == phone-md {
        @media only screen and (max-width: 30.625em) { @content }; // 490px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; // 1200px
    }

    @if $breakpoint == tab {
        @media only screen and (max-width: 87.5em) { @content }; // 1400px
    }

    @if $breakpoint == small-screen {
        @media only screen and (max-width: 111.25em) { @content }; // 1780px
    }
}