.movie__details {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;

    @include respond(phone-md) {
        margin-top: 3rem;
    }


    .backdrop__img {
        max-height: 100%;
        width: 100%;
        opacity: .3;
        -o-object-fit: cover;
           object-fit: cover;

        @include respond(tab) {
            height: 100%;
        }
    }

    .movie__details--info {
        position: absolute;
        right: 5%;
        top: 20%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        .info {
            font-size: 2rem;
            margin-bottom: 2rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            span {
                color: $color-grey-dark;
            }

            @include respond(tab-land) {
                font-size: 1.8rem;
            }

            @include respond(tab-port) {
                font-size: 1.4rem;
            }

            @include respond(phone-md) {
                font-size: 1rem;
            }

            @include respond(small-phone) {
                font-size: .8rem;
            }
        }

        .rating {
            font-size: 1.8rem;

            @include respond(tab-port) {
                font-size: 1.2rem;
            }

            @include respond(phone-md) {
                font-size: .8rem;
            }

            @include respond(small-phone) {
                font-size: .5rem;
            }
        }

        .fas {
            color: $color-light-blue;
        }
    }

    .description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-item-align: end;
            align-self: flex-end;
        position: absolute;
        left: 0;
        bottom: 10%;
        width: 90%;
        margin: 4rem 3rem;

        @include respond(phone) {
            width: auto;
            margin-top: 3rem;
            margin-left: 3rem;
        }

        @include respond(small-phone) {
            margin-left: 2rem;
        }

        @include respond(phone-horizontal) {
            margin-left: 2rem;
        }

        .title {
            font-size: 3.6rem;
            border-bottom: 2px solid $color-light-blue;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            margin-bottom: 2rem;

            @include respond(tab-land) {
                font-size: 3rem;
            }

            @include respond(tab-port) {
                font-size: 2.3rem;
            }

            @include respond(phone) {
                font-size: 2rem;
            }

            @include respond(small-phone) {
                font-size: 1.8rem;
            }
        }

        p {
            font-size: 1.8rem;
            color: $color-grey-dark;
            width: 65%;

            @include respond(tab-land) {
                font-size: 1.5rem;
            }

            @include respond(tab-port) {
                font-size: 1.2rem;
            }
        }
    }
}