.searchbar {
    width: 20%;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;

    @include respond(tab) {
        width: 30%;
    }

    @include respond(tab-port) {
        width: 35%;
    }

    @include respond(phone) {
        width: 40%;
        height: 3rem;
    }

    @include respond(phone-md) {
        width: 55%;
        padding-top: .7rem;
        height: 2.5rem;
    }

    @include respond(mini-phone) {
        padding-top: .5rem;
    }

    @include respond(phone-horizontal) {
        padding-top: .5rem;
        height: 2.8rem;
    }

}

input[type=text] {
    border: none;
    border-radius: 3rem;
    width: 100%;
    padding: 2rem;
    outline: none;

    @include respond(mini-phone) {
        font-size: 1rem;
    }
}

.search-btn {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    background-color: $color-light-blue;
    border: none;
    text-decoration: none;
    text-align: center;
    color: $color-grey-light;
    -webkit-transition: .2s;
    transition: .2s;
    cursor: pointer;

    @include respond(phone) {
        width: 4rem;
        height: 4rem;
    }

    @include respond(phone-md) {
        margin-top: .7rem;
    }

    @include respond(mini-phone) {
        margin-top: .5rem;
    }

    @include respond(phone-horizontal) {
        margin-top: .5rem;
        height: 4rem;
        width: 4rem;
    }

    &:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
}