.error {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        font-size: 5rem;

        @include respond(tab-land) {
            font-size: 3rem;
        }

        @include respond(phone) {
            font-size: 2.2rem;
        }

        @include respond(phone-md) {
            font-size: 1.8rem;
        }

        @include respond(small-phone) {
            font-size: 1.3rem;
        }
    }

    &__icon {
        height: 40rem;

        @include respond(tab-port) {
            height: 30rem;
        }

        @include respond(phone) {
            height: 25rem;
        }

        @include respond(phone-horizontal) {
            height: 15rem;
        }
    }
}