.navigation-bar {
    font-size: 3rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    @include respond(tab-land) {
        font-size: 2.5rem;
    }

    @include respond(tab-port) {
        font-size: 2.0rem;
    }

    @include respond(phone) {
        font-size: 1.8rem;
    }

    @include respond(small-phone) {
        font-size: 1.5rem;
    }

    @include respond(phone-horizontal) {
        font-size: 1.5rem;
    }

    @include respond(mini-phone) {
        font-size: 1.2rem;
    }

    & ul {
        text-decoration: none;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        li {
            padding: 2rem 0 2rem 3rem;
            color: $color-grey-dark;
            -webkit-transition: .2s;
            transition: .2s;
            cursor: pointer;
            display: inline;

            @include respond(tab) {
                padding-left: 2rem;
            }

            @include respond(phone) {
                padding-left: 1rem;
            }

            &:hover {
                -webkit-animation-name: navhover;
                        animation-name: navhover;
                -webkit-animation-duration: 2s;
                        animation-duration: 2s;
                background-color: rgba(43, 167, 255, .44);
                color: $color-grey-light;
                -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
                        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            }
        }
    }
}

.active {
    width: 90%;
    background-color: rgba(43, 167, 255, .44);
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    color: $color-grey-light !important;
}

@-webkit-keyframes navhover {
    0% {
        width: 70%;
    }
    100% {
        width: 90%;
     }
}

@keyframes navhover {
    0% {
        width: 70%;
    }
    100% {
        width: 90%;
     }
}